<table *ngIf="genericEntities" mat-table [dataSource]="genericEntities" matSort (matSortChange)="onSortChange($event)">
  <ng-container matColumnDef="key">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Name">Name</th>
    <td mat-cell *cdkCellDef="let element"> <a [routerLink]="element.key">{{element.key}}</a></td>
  </ng-container>
  <ng-container matColumnDef="value">
    <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Mentions">Mentions</th>
    <td mat-cell *cdkCellDef="let element"> {{element.value}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="shownColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: shownColumns"></tr>
</table>
