<ng-container *ngIf="genericEntityStatistic">
  <h1>{{genericEntityStatistic.name}}</h1>
  <ul>
    <li>Total mentions: {{genericEntityStatistic.mentions}}</li>
    <li>First mention: {{genericEntityStatistic.firstOccurence.Volume}} chapter {{genericEntityStatistic.firstOccurence.Name}} <a [href]="genericEntityStatistic.firstOccurence.Url" target="_blank">(open chapter)</a></li>
  </ul>
  <div class="row">
    <app-smart-chart [options]="genericEntityStatistic.volumeMentionChart"
                     [minWidth]="900"></app-smart-chart>
  </div>

  <table mat-table [dataSource]="genericEntityStatistic.allChaptersContaining" >
    <ng-container matColumnDef="Volume">
      <th mat-header-cell *matHeaderCellDef>Volume</th>
      <td mat-cell *cdkCellDef="let element"> {{element.Volume}} </td>
    </ng-container>
    <ng-container matColumnDef="Chapter">
      <th mat-header-cell *matHeaderCellDef>Chapter</th>
      <td mat-cell *cdkCellDef="let element"> {{element.Chapter}} </td>
    </ng-container>
    <ng-container matColumnDef="Link">
      <th mat-header-cell *matHeaderCellDef>Link</th>
      <td mat-cell *cdkCellDef="let element"> <a [href]="element.Url" target="_blank">(open chapter)</a>  </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="shownColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: shownColumns"></tr>
<!--    <tr>-->
<!--      <th>Volume</th>-->
<!--      <th>Chapter</th>-->
<!--      <th>Link</th>-->
<!--    </tr>-->
<!--    <tr *ngFor="let chapter of genericEntityStatistic.allChaptersContaining">-->
<!--      <td>{{chapter.Chapter.Volume}}</td>-->
<!--      <td>{{chapter.Chapter.Name}}</td>-->
<!--      <td><a [href]="chapter.Chapter.Url" target="_blank">(open chapter)</a></td>-->
<!--    </tr>-->
  </table>
</ng-container>

