:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;
  text-align: center;
  width: 100%;

  @media (min-width: 500px ) {
    width: 10em;
  }
}

.number {
  font-size: 3em;
}

.description {
  font-size: 2em;
  margin-top: 0.5em;
  margin-bottom: 0.3em;
  width: 9em;
}

.sub-text {
  font-size: 0.8em;
  min-height: 0.8em;
  opacity: 0.5;
}
