<h1>About</h1>

<p>This is a fanpage to highlight some statistics about <b>The Wandering Inn</b> and was inspired by <a target="_blank" href="https://www.reddit.com/r/WanderingInn/comments/ayqhb0/a_visualization_of_the_wandering_inn/">'A Visualization of The Wandering Inn'</a> (by /u/noneo)</p>

<p>Copyright for almost all text on this page goes to <b>The Wandering Inn</b> by <b> pirateaba</b></p>
<p>Please support the story by reading it on the <a href="https://wanderinginn.com/" target="_blank">Official Blog</a>
  and throwing more money at the author on <a href="https://wanderinginn.com/" target="_blank">Patreon</a></p>

<h2>Why make this?</h2>
<p>Because I wanted to have a quick and updated method to show everyone I meet how looooooooong this super slick web novel I'm reading is.</p>
<p>
  If you have any questions, suggestions or want to talk about how great pisces is:
</p>

<ul>
<li><a href="https://github.com/Amiron49/WanderingInnStatistics" target="_blank">Github Repo</a></li>
<li>Discord: Amiron#8210</li>
<li>Reddit: <a href="https://www.reddit.com/user/Amiron49/" target="_blank">/u/Amiron49</a></li>
</ul>
