/* You can add global styles to this file, and also import other style files */


:root {
  --breakout: 920px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
  line-height: 1;
}

.row {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-direction: column;
  margin: 0 0 2em;

  @media (min-width: 500px) {
    flex-direction: row;

  }

  &.breakout {
    padding: 0;
    overflow-x: auto;
    display: block;
  }

  .breakout {
    min-width: var(--breakout);
    width: 100%;
  }

}


@import "~billboard.js/dist/theme/graph.css";

.bb {
  color: black;
  background-color: #242424;

  text {
    fill: #fff;
  }

  svg {
    margin: auto;
  }
}

mat-tab-group > .mat-tab-header {
  display: none;
}


a:not(.mat-button-base) {
  color: #ce93d8;
}

table.mat-table {
  width: 100%;
  margin: auto;
  @media (min-width: 800px) {
    width: 800px;
  }
  text-align: initial;
}

mat-checkbox {
  margin-bottom: 1em;
}

